*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0 !important;
}
html,
body {
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: aqua;
}
.menu {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.menu div {
	background-color: darkgray;
	padding: 12px;
	flex-grow: 1;
}

.menu div a:hover {
	color: red;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 100px;
	background-color: aqua;
}

main {
	background-color: lightblue;
	display: flex !important;
	flex-grow: 1;
}



aside {
	min-width: 200px;
	background-color: bisque;
}

.logo {
	font-size: 8px;
	text-align: center;
	margin-bottom: 15px;
}

.content {
	display: flex;
	flex-direction: row;
	padding: 15px;
	gap: 19px;
	flex-wrap: wrap;

}

.card {
	display: flex;
	flex-direction: column;
	background-color: aqua;
	max-width: 32%;
	padding-bottom: 15px;
	align-items: center;
}


.title_card {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	font-weight: bold;
}

.text_card {
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 100%;
	flex-grow: 1;
}

.text_card a {
	color: blue;
}


.buy_tovar {
	display: flex;
	width: 150px;
	min-height: 40px;
	background-color: rgb(196, 196, 196);
	justify-content: space-between;
	align-items: center;
	border: 3px solid black;
	padding: 0 10px;
}
